.sidebar {
  background-color: $sidebar;
  grid-column: 1 / 2;
  height: 100%;
  min-height: 800px;
  padding: 12px;

  ul {
    list-style: none;
    padding: 0;

    li a {
      text-decoration: none;
      color: $sidebar-components;
    }
  }

  .sidebar--header  {
    color: $header-main;
    margin: 0 0 12px 0;
  }
}
